@import 'tailwindcss';
@import '@nuxt/ui';

.ck-content {
    font-family: 'Montserrat', serif;
  @apply leading-relaxed text-justify;
  a {
    @apply text-primary-600 underline hover:opacity-70 transition;
  }

  p {
      font-family: 'Montserrat', serif;
    @apply indent-12 mb-4 leading-7;
  }

  blockquote {
    @apply border-l-4 border-primary-500 bg-primary-50 dark:bg-primary-900/20 pl-6 py-4 my-6 italic text-gray-700 dark:text-gray-300;
  }



}
