@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 110rem;
}

html {
    @apply bg-neutral-400;
}

body {
    @apply bg-neutral-100;
    font-family: 'Montserrat', serif;
    font-weight: 400;
}

:root {
    /*--ui-text-muted: white;*/
    --color-primary-50: #e9fafd;
    --color-primary-100: #c2f0f9;
    --color-primary-200: #9be7f5;
    --color-primary-300: #73ddf1;
    --color-primary-400: #4cd4ed;
    --color-primary-500: #25cae9;
    --color-primary-600: #1d9fb7;
    --color-primary-700: #157486;
    --color-primary-800: #0d4954;
    --color-primary-900: #061e23;



    h1 {
        @apply font-bold text-3xl mb-2;
    }

    h2 {
        @apply font-bold text-2xl mb-2;
    }

    h3 {
        @apply font-bold text-xl mb-2;
    }
}
