@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 110rem;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', serif;
  font-weight: 400;
}

body {
  @apply bg-neutral-100;
}
