@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 110rem;
}

html {
    @apply bg-neutral-400;
}

body {
    @apply bg-neutral-100;
    font-family: 'Montserrat', serif;
    font-weight: 400;
}

:root {
    /*--ui-text-muted: white;*/
    --color-primary-50: #0b0f1dff;
    --color-primary-100: #0c1120ff;
    --color-primary-200: #0d1323ff;
    --color-primary-300: #0e1527ff;
    --color-primary-400: #0f172bff;
    --color-primary-500: #25cae9;
    --color-primary-600: #2c3345ff;
    --color-primary-700: #484f5fff;
    --color-primary-800: #808692ff;
    --color-primary-900: #f1f5f9ff;

    h1 {
        @apply font-bold text-3xl mb-2;
    }

    h2 {
        @apply font-bold text-2xl mb-2;
    }

    h3 {
        @apply font-bold text-xl mb-2;
    }
}
