@import 'tailwindcss';
@import '@nuxt/ui';

@theme {

}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  @apply bg-neutral-100;
}
